runtime: php74
service: api

handlers:
- url: /requirements.php
  script: web/requirements.php

- url: /.*
  script: web/index.php

env_variables:
  # framework
  YII_DEBUG: false
  YII_ENV: prod

  # database
  MYSQL_DSN: mysql:unix_socket=/cloudsql/<instance-connection-name>;dbname=<dbname>
  MYSQL_USERNAME: <username>
  MYSQL_PASSWORD: <password>