runtime: php55
api_version: 1

service: api

handlers:
- url: /.*
  script: web/index.php

skip_files:
- .env

env_variables:
  # framework
  YII_DEBUG: false
  YII_ENV: prod

  # database
  MYSQL_DSN: mysql:unix_socket=/cloudsql/<instance-connection-name>;dbname=<dbname>
  MYSQL_USER: <username>
  MYSQL_PASSWORD: <password>